## Test for the mean. Population variance known

### H0: µ0 = 113,000;  H1: µ0 ≠ 113,000; given: Population σ = 15,000

### Test null hypothesis at 10% significance

### Solution: Null hypothesis (H0) is rejected

In [12]:
import numpy as np
import pandas as pd
from scipy.stats import norm

In [13]:
#pop_mu = μ0 = hypothesized mean; pop_std = σ = population standard deviation; significance = α = significance level

In [14]:
pop_mu = 113000; pop_std = 15000; significance = 0.1

### read data

In [15]:
df = pd.read_excel('data/data_scientist_salary.xlsx')

In [16]:
df.head(8)

,Unnamed: 0,Dataset,Unnamed: 2,Population std,15000,Unnamed: 5,Unnamed: 6,Unnamed: 7,H0 (Glassdoor data),113000
0,NaN,117313,NaN,NaN,NaN,NaN,NaN,NaN,Two-sided test,NaN
1,NaN,104002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,113038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,101936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,84560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,113136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,80740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,100536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           0 non-null      float64
 1   Dataset              30 non-null     int64
 2   Unnamed: 2           0 non-null      float64
 3   Population std       0 non-null      float64
 4   15000                0 non-null      float64
 5   Unnamed: 5           0 non-null      float64
 6   Unnamed: 6           0 non-null      float64
 7   Unnamed: 7           0 non-null      float64
 8   H0 (Glassdoor data)  1 non-null      object
 9   113000               0 non-null      float64
dtypes: float64(8), int64(1), object(1)
memory usage: 2.5+ KB

In [18]:
data = df['Dataset']

In [19]:
data.head()  #sample data

0    117313
1    104002
2    113038
3    101936
4     84560
Name: Dataset, dtype: int64

### calculate observational test statistic

In [20]:
size = data.shape[0]; size  #sample size = N

30

In [21]:
mean = data.mean(); mean  #sample mean = x̄

100200.36666666667

In [22]:
std = data.std(); std   #sample standard deviation; compare with σ = population standard deviation = 15000

11478.40612653809

In [23]:
std_error = round(pop_std/np.sqrt(size)); std_error  #standard error: σ/√N; σ = population standard deviation

2739

In [24]:
#Z-score: Z=(x̄-μ0)/σ/√N ~ N(0,1); z-score=critical value; x̄=sample mean; μ0=hypothesized mean (H0);

In [25]:
z_score = (mean-pop_mu)/std_error; z_score

-4.673104539369599

### hypothesis test

In [26]:
#find c with P(x≤c)=1-α/2; α/2 for two-sided test; ppf=percent point function;

In [27]:
c = norm.ppf(1-significance/2, loc=0, scale=1); c

1.6448536269514722

In [28]:
#if z-score is in the critical region of the right tail then H0 is false otherwise true

In [29]:
np.absolute(z_score) > c  #null hypothesis (H0) rejected

True

### cross-check hypothesis test with p-value

In [30]:
cdf_z = norm.cdf(np.absolute(z_score), loc=0, scale=1) #cdf_z = P(x ≤ z)

In [31]:
p_value = 2*(1-cdf_z); p_value  #p-value=2*(1-P(x≤z)); two-sided p-value requires factor 2

2.9668065963939227e-06

In [32]:
p_value < significance  #null hypothesis (H0) rejected

True